.orange-message {
  background-color: orange;
}
.blue-message {
  background-color: blue;
}
.green-message {
  background-color: green;
}
.red-message {
  background-color: red;
}
.yellow-message {
  background-color: yellow;
}
.grey-message {
  background-color: grey;
}
.badge {
  width: max-content;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
}
