<div><input type="text" /> <my-badge [message]=""></my-badge></div>
<div>
  <input type="text" [(ngModel)]="text1" />
  <my-badge [message]="message1"></my-badge>
</div>
<div>
  <input type="text" [(ngModel)]="text2" />
  <my-badge [message]="message2"></my-badge>
</div>
<div>
  <input type="text" [(ngModel)]="text3" />
  <my-badge [message]="message3"></my-badge>
</div>
<div>
  <input type="text" [(ngModel)]="text4" />
  <my-badge [message]="message4"></my-badge>
</div>
<div>
  <input type="text" [(ngModel)]="text5" />
  <my-badge [message]="message5"></my-badge>
</div>
<div>
  <input type="text" [(ngModel)]="text6" />
  <my-badge [message]="message6"></my-badge>
</div>
<div>
  <input type="text" [(ngModel)]="text7" />
  <my-badge [message]="message7"></my-badge>
</div>
