input,
my-badge {
  display: inline-flex;
}
input {
  display: inline-block;
}

input:hover {
  border: 2px solid green;
}

/**
  * TODO: Change the text color of the 5th input, inside the section container, to red ( max 2 min )
  */
